.container {
  display: flex;
  align-items: flex-end;
}

.buttonContainer {
  width: 100%;
  display: flex;
  column-gap: var(--spacing-xs);
  padding: var(--spacing-l);
}

.buttonContainer.loading {
  height: 100%;
  background-color: var(--primary);
  opacity: 0.8;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .buttonContainer.loading {
    border-radius: var(--border-radius);
  }
}

.iconBtn {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: var(--border-radius);
  padding-top: var(--spacing-s);
  padding-bottom: var(--spacing-s);
  padding-left: var(--spacing-m);
  padding-right: var(--spacing-m);
  color: var(--primary);
  background-color: var(--background);
}

.iconBtn.primary {
  color: var(--background);
  background-color: var(--primary);
}

.iconBtn:disabled {
  opacity: 0.5;
}

.loadingDot {
  height: 20px;
  width: 20px;
  border-radius: 50;
  background: var(--primary);
  margin: var(--spacing-m);
}

.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, var(--background) 90%, #0000);
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }
  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }
  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }
  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
}
