.imageContainer {
  height: 100%; /* has to be vh for mobile display */
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.buttonContainer {
  width: 100%;
  display: flex;
  column-gap: var(--spacing-xs);
  padding: var(--spacing-l);
  /* position: 'absolute'; */
}

.buttonContainer.loading {
  height: 100%;
  background-color: var(--primary);
  opacity: 0.8;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.iconBtn {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 36px;
  padding-top: var(--spacing-s);
  padding-bottom: var(--spacing-s);
  padding-left: var(--spacing-m);
  padding-right: var(--spacing-m);
  color: var(--primary);
  background-color: var(--background);
}

.iconBtn.primary {
  color: var(--background);
  background-color: var(--primary);
}

.iconBtn:disabled {
  opacity: 0.5;
}

.loadingDot {
  height: 20px;
  width: 20px;
  border-radius: 50;
  background: var(--primary);
  margin: var(--spacing-m);
}

.loader {
  width: 50px;
  height: 28px;
  --_g: no-repeat radial-gradient(farthest-side, var(--background) 94%, #0000);
  background:
    var(--_g) 50% 0,
    var(--_g) 100% 0;
  background-size: 12px 12px;
  position: relative;
  animation: l23-0 1.5s linear infinite;
}
.loader:before {
  content: '';
  position: absolute;
  height: 12px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--background);
  left: 0;
  top: 0;
  animation:
    l23-1 1.5s linear infinite,
    l23-2 0.5s cubic-bezier(0, 200, 0.8, 200) infinite;
}
@keyframes l23-0 {
  0%,
  31% {
    background-position:
      50% 0,
      100% 0;
  }
  33% {
    background-position:
      50% 100%,
      100% 0;
  }
  43%,
  64% {
    background-position:
      50% 0,
      100% 0;
  }
  66% {
    background-position:
      50% 0,
      100% 100%;
  }
  79% {
    background-position:
      50% 0,
      100% 0;
  }
  100% {
    transform: translateX(calc(-100% / 3));
  }
}
@keyframes l23-1 {
  100% {
    left: calc(100% + 7px);
  }
}
@keyframes l23-2 {
  100% {
    top: -0.1px;
  }
}
