.titleContainer {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-xs);
}

.locationInfo {
  color: var(--background);
  font-size: 14px;
}

.disposalInfo {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.disclaimer {
  color: var(--info);
  font-size: 14px;
}
