.container {
  display: flex;
  flex-direction: column;
  background-color: var(--foreground);
  padding: var(--spacing-l);
  gap: var(--spacing-m);
}

.imageContainer {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: var(--spacing-m);
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: var(--background);
}

.textContainer {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.steps {
  color: var(--background);
  display: flex;
  gap: var(--spacing-xs);
  flex-direction: column;
  align-items: center;
  text-align: center;
}
