.btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-m);
  border-radius: var(--border-radius);
  color: var(--background);
}

.btn.primary {
  border: none;
  background-color: var(--primary);
}

.btn.secondary {
  border: 1px solid var(--background);
  background-color: var(--foreground);
}
