:root {
  font-family:
    Work Sans,
    system-ui,
    Avenir,
    Helvetica,
    Arial,
    sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light-green: #b3efbc;
  --dark-green: #3f8349;
  --green: #609c66;
  --blue: #3795ca;
  --red: #d7191c;
  --yellow: #f09436;
  --brown: #944025;
  --grey: #4b4b4b;
  --dark-grey: #47525c;
  --light-grey: #8a98a6;
  --black: #232323;
  --white: #f8faed;

  --background: var(--dark-green);
  --foreground: var(--white);
  --primary: var(--light-green);
  --danger: var(--red);
  --info: var(--grey);

  --wasteBlue: var(--blue);
  --wasteGreen: var(--green);
  --wasteYellow: var(--yellow);
  --wasteBrown: var(--brown);
  --wasteRed: var(--red);
  --wasteGrey: var(--light-grey);
  --wasteBlack: var(--black);
  --wasteNull: var(--dark-grey);

  --spacing-xs: 8px;
  --spacing-s: 12px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 40px;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  /* Allows you to scroll below the viewport; default value is visible */
  overflow-y: auto;
  overscroll-behavior-y: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: scrollbar;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html,
body,
#root {
  /* To smooth any scrolling behavior */
  -webkit-overflow-scrolling: touch;
  padding: 0px;
  /* Allows content to fill the viewport and go beyond the bottom */
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
  /* Prevent text size change on orientation change https://gist.github.com/tfausak/2222823#file-ios-8-web-app-html-L138 */
  -webkit-text-size-adjust: 100%;
  height: calc(100% + env(safe-area-inset-top));
}

#root {
  isolation: isolate;
  flex: 1;
  flex-shrink: 0;
  flex-basis: auto;
  flex-grow: 1;
}

/* Display in iPhone 12 Dimensions on non-mobile screens */
@media screen and (min-width: 768px) {
  #root {
    max-width: 390px;
    height: 844px;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a4c8a9;
  }

  video {
    border-radius: 36px;
  }
}

.container {
  width: 100%;
  height: 100%;
  border-radius: 36px;
}

@media screen and (max-width: 768px) {
  .container {
    height: 100vh;
    border-radius: 0;
  }
}

/* Work Sans font */
@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/work-sans-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/work-sans-v19-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/work-sans-v19-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/work-sans-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
