:root {
  font-family:
    Work Sans,
    system-ui,
    Avenir,
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light-green: #b3efbc;
  --dark-green: #3f8349;
  --green: #609c66;
  --blue: #3795ca;
  --red: #d7191c;
  --yellow: #f09436;
  --brown: #944025;
  --grey: #4b4b4b;
  --dark-grey: #47525c;
  --light-grey: #8a98a6;
  --black: #232323;
  --white: #f8faed;

  --background: var(--dark-green);
  --foreground: var(--white);
  --primary: var(--light-green);
  --danger: var(--red);
  --info: var(--grey);

  --wasteBlue: var(--blue);
  --wasteGreen: var(--green);
  --wasteYellow: var(--yellow);
  --wasteBrown: var(--brown);
  --wasteRed: var(--red);
  --wasteGrey: var(--light-grey);
  --wasteBlack: var(--black);
  --wasteNull: var(--dark-grey);

  --spacing-xs: 8px;
  --spacing-s: 12px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 40px;
}

/* work-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/work-sans-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/work-sans-v19-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/work-sans-v19-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/work-sans-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
