.container {
  flex: 1;
  display: flex;
  align-items: flex-end;
  background-color: transparent;
}

.resultContainer {
  width: 100%;
  padding: var(--spacing-l);
  background-color: var(--foreground);
  border-radius: 16px 16px var(--border-radius) var(--border-radius);
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-l);
}

@media screen and (max-width: 768px) {
  .resultContainer {
    border-radius: 16px 16px 0 0;
  }
}
