.cameraContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.canvas {
  display: none;
}

.btn {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background-color: var(--background);
  margin-inline: auto;
}
